<!DOCTYPE html>
<html>
<head>
    <title>Google Maps Debug</title>
    <style>
        #map { height: 400px; width: 100%; }
    </style>
</head>
<body>
    <h1>Google Maps Debug Test</h1>
    <div id="map"></div>
    
    <script>
        function initMap() {
            console.log('initMap called');
            console.log('Google object:', typeof google);
            
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: { lat: 23.7280, lng: 90.3979 } // Dhaka
            });
            
            console.log('Map created successfully');
            
            // Test marker
            var marker = new google.maps.Marker({
                position: { lat: 23.7280, lng: 90.3979 },
                map: map,
                title: 'Test Marker'
            });
            
            console.log('Test complete - if you see this, Google Maps is working');
        }
        
        window.onload = function() {
            console.log('Page loaded');
        };
    </script>
    
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap">
    </script>
</body>
</html> 